@model PhoneBook.EndPoints.WebUI.Models.People.PersonDetailViewModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<div class="row">
    <div class="col-md-2 ">
        @{
            var imgSrc = String.Format("data:image/gif;base64,{0}", Model.Image);
        }

        <img src="@imgSrc" height="150" width="150" class="img-thumbnail" alt="Alternate Text" />
    </div>
    <div class="col-md-10">
        <div>
            <b>FirstName :</b> @Model.FirstName
        </div>
        <div>
            <b>LastName :</b> @Model.LastName
        </div>
        <div>
            <b>Email :</b> @Model.Email
        </div>
        <div>
            <b>Address :</b> @Model.Address
        </div>
    </div>

    <div class="col-12">
        <b>Tags :</b>
        @foreach (var tag in Model.Tags)
        {
            <a href="#" class="badge badge-primary">@tag.Title</a>
        }

    </div>


</div>
<br />



<h3>Numbers</h3>
<div class="row">

    <a class=" col-2 btn btn-outline-primary" asp-controller="people" asp-action="AddNumber" asp-route-id="@Model.PersonId" >Add New Number</a>
   
    <div class="table-responsive pt-2">
        <table class="table table-striped table-bordered">
            <tr>
                <th>index</th>
                <th>Type</th>
                <th>Numbers</th>
            </tr>
            @{ int i = 0;}
            @foreach (var p in Model.Phones)
            {

                <tr>
                    <td>@{++i;}@i</td>
                    <td>@p.PhoneType.ToString()</td>
                    <td>@p.PhoneNumber</td>
                </tr>
            }
        </table>

    </div>
</div>